# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Secrets / variables d'environnement
.env
.env.*

# Build / compilation C++
build/
*.o
*.a
*.so
*.dylib
*.exe

# Python packaging
*.egg-info/
dist/

# Exclure les images brutes
dataset/raw/

# Exclure les fichiers systèmes et logs
.DS_Store
__MACOSX/
*.log
# Dataset utilise localement pour le rendu
dataset/train/
dataset/test/
